.tweet {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #000000;

    .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: black 1px solid;

        .icon {
            height: 25px;
            width: 25px;
            margin: 5px;
            border: black 1px solid;
        }

        p {
            margin: 5px;
            border: black 1px solid;
        }

        .bookmark {
            display: flex;
            align-items: center;
            width: 25px;
            height: 25px;
            margin: 5px;
            margin-left: auto;
        }
    }
    
    .content {
        margin-top: 10px;
        border: black 1px solid;
    }
    
    .content-field {
        margin: 10px;
        border: black 1px solid;
    
    }
    
    .meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: black 1px solid;

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px;
        }

        .icon {
            margin: 5px;
        }
        
        p {
            margin: 5px;
        }
    }

}
